.page-logo {
  margin: 0;
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 28px;
  background: linear-gradient(90deg, #8fcea1, #03b3e3);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: absolute;
  top: 8%;
  left: 5%;
  transform: translate(-50%, -50%);
  letter-spacing: 1px;
  line-height: 38px;
  padding: 0 5px;
}

.navbar-container {
  background-color: #032541;
}

.nav-items-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  margin-left: 100px;
}

.nav-item {
  margin-left: 25px;
}

.nav-link {
  text-decoration: none;
  color: #ffffff !important;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
}

.search-container {
  display: flex;
}

.search-input {
  outline: none;
  border: 1px solid #acacac;
  background-color: transparent;
  padding: 4px 12px 7px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto';
  font-style: italic;
  color: #acacac;
  min-width: 250px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right-width: 1px;
}

.search-button {
  font-family: 'Roboto';
  font-weight: 600;
  font-size: 14px;
  padding: 8px 17px;
  color: #ffffff;
  background-color: #03b3e3;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-left: 0px;
  cursor: pointer;
  outline: none;
}

.logo-container {
  text-decoration: none;
  border-radius: 8px;
}

.alignment {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
  padding-right: 20px;
}
