.loader-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.upcoming-movie-container {
  display: flex;
  flex-direction: column;
}

.list-items-container {
  width: 100%;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}
